.aws-info {
    border: 0;
    background: #e7efef;
    margin-bottom: 10px;
    padding: 0;
    height: auto;
}
.aws-info .aws-logo {
    float: right;
    padding: 5px;
}
.aws .aws-command {
    border: 1px solid #cccccc;
    background: #ffffff;
    padding: 15px;
    text-align: left;
    margin: 10px 0;
    font-weight: bold;
}
.aws-info h3 {
    color: #ea7601;
}
.aws-info h3 small {
    font-weight: normal;
    font-size: 80%;
    font-style: italic;
}
.aws-info .fieldset {
    margin-bottom: 0;
    padding: 10px 15px !important;
}