<script>dojoConfig = {parseOnLoad: true}</script>
<script src='//ajax.googleapis.com/ajax/libs/dojo/1.10.4/dojo/dojo.js'></script>
<script>
    dojo.require("dojox.grid.EnhancedGrid");
    dojo.require("dojo.data.ItemFileWriteStore");
    dojo.require("dojox.grid.enhanced.plugins.exporter.CSVWriter");
    dojo.require("dijit.form.Button");
    dojo.require("dojox.data.CsvStore");
    dojo.require("dojox.grid.enhanced.plugins.Filter");
    dojo.require("dojox.grid.enhanced.plugins.Cookie");
    dojo.require("dojox.grid.enhanced.plugins.NestedSorting");
    dojo.require("dojox.grid.enhanced.plugins.Menu");
    dojo.require("dijit.Menu");

    var awsLoggerViewClass = Class.create();
    awsLoggerViewClass.prototype = {
        initialize: function () {
            this.storage = [];

            this.storagePrototype = {
                logsDiv: '',
                logsGrid: {},
                viewDiv: '',
                viewGrid: {},
                updateInterval: 60,
                logsStore: {},
                logsItems: {},
                viewStore: {},
                viewItems: '',
                currentLogFiles: {},
                viewLayout: {},
                menusObject: {}
            };

            this.xhrArgsPrototype = {
                link: this,
                loaderArea: false,
                url: "<?php echo Mage::helper('adminhtml')->getUrl('*/*/tail', array('_secure' => Mage::app()->getRequest()->isSecure())); ?>",
                postData: {
                    actions: '',
                    form_key: '<?php echo Mage::getSingleton('core/session')->getFormKey(); ?>',
                    isAjax: 1
                },
                handleAs: "text"
            };

            this.prefs = {
                currentProfile: <?php echo $this->getDefaultProfile(); ?>,
                profiles: <?php echo $this->getProfiles(); ?>,
                defaultLogsDivPrefix: '<?php echo $this->getDefaultLogsSelectorPrefix(); ?>',
                defaultViewDivPrefix: '<?php echo $this->getDefaultLogviewerPrefix(); ?>'
            };

            for (var i = 0; i < _.size(this.prefs.profiles); i++) {
                this.storage[i] = _.clone(this.storagePrototype);
                this.storage[i].logsDiv = this.prefs.defaultLogsDivPrefix + '-' + i.toString(),
                    this.storage[i].viewDiv = this.prefs.defaultViewDivPrefix + '-' + i.toString()
            }

            this.initializeProfile(this.prefs.currentProfile);
        },

        initializeProfile: function (profile = -1) {
            profile = 0 > profile ? profile : this.prefs.currentProfile;
            if (_.contains(this.prefs.profiles, profile)) {
                return this._prepareDojoStorage(profile);
            } else {
                return false;
            }
        },

        /**
         *
         * @param what string representation
         * @param indexer is profile number, -1 for current
         * @returns {*}
         * @private
         */
        _getIt: function(what = '', indexer = -1) {
            var index = 0 > indexer ? this.prefs.currentProfile : indexer;
            switch (what) {
                case 'vs':
                    return this.storage[index].viewStore;
                    break;
                case 'ls':
                    return this.storage[index].logsStore;
                    break;
                case 'vg':
                    return this.storage[index].viewGrid;
                    break;
                case 'lg':
                    return this.storage[index].logsGrid;
                    break;
                case 'vi':
                    return this.storage[index].viewItems;
                    break;
                case 'li':
                    return this.storage[index].logsItems;
                    break;
                case 'logs':
                    return this.storage[index].currentLogFiles;
                    break;
                case 'lay':
                    return this.storage[index].viewLayout;
                    break;
                case 'vdiv':
                    return this.storage[index].viewDiv;
                    break;
                case 'ldiv':
                    return this.storage[index].logsDiv;
                    break;
                case 'ut':
                    return this.storage[index].updateInterval;
                    break;
                default:
                    return this.storage[index];
            }
        },

        _setIt: function(data, what = '', indexer = -1) {
            var index = 0 > indexer ? this.prefs.currentProfile : indexer;
            switch (what) {
                case 'vs':
                    return this.storage[index].viewStore = data;
                    break;
                case 'ls':
                    return this.storage[index].logsStore = data;
                    break;
                case 'vg':
                    return this.storage[index].viewGrid = data;
                    break;
                case 'lg':
                    return this.storage[index].logsGrid = data;
                    break;
                case 'vi':
                    return this.storage[index].viewItems = data;
                    break;
                case 'li':
                    return this.storage[index].logsItems = data;
                    break;
                case 'logs':
                    return this.storage[index].currentLogFiles = data;
                    break;
                case 'lay':
                    return this.storage[index].viewLayout = data;
                    break;
                case 'vdiv':
                    return this.storage[index].viewDiv = data;
                    break;
                case 'ldiv':
                    return this.storage[index].logsDiv = data;
                    break;
                case 'ut':
                    return this.storage[index].updateInterval = data;
                    break;
                default:
                    return this.storage[index] = data;
            }
        },

        _closeStore: function (where, profile = -1) {
            var store = this._getIt(where + 's', profile);
            var grid = this._getIt(where + 'g', profile);
            try {
                store.close();
                grid.store.close();
                this._setIt(store, where + 's', profile);
                this._setIt(grid, where + 'g', profile);
            } catch (e) {
                return false;
            }
            return true;
        },

        _setStore: function (where, data, storeType = 'def', id = 'id', profile = -1) {
            var store = this._getIt(where + 's', profile);
            var grid = this._getIt(where + 'g', profile);
            try {
                switch (storeType) {
                    case 'csv':
                        store = new dojox.data.CsvStore({data: data});
                        break;
                    case 'def':
                    default:
                        var dataObj = {
                            identifier: id,
                            label: id,
                            items: data
                        };
                        store = new dojo.data.ItemFileWriteStore({data: dataObj});
                }
                if (!_.isEmpty(grid)) {
                    grid.setStore(store);
                }
                this._setIt(store, where + 's', profile);
                this._setIt(grid, where + 'g', profile);
            } catch (e) {
                return false;
            }
            return true;
        },

        _updateLogsGrid: function (data_list) {
            this._closeStore('l');

            var i, len;
            var data = [];
            for (i = 0, len = data_list.length; i < len; ++i) {
                data.push(dojo.mixin({'id': i + 1}, data_list[i % len]));
            }

            this._setStore('l', data, 'def', 'id');
        },


        _updateViewGrid: function (data) {
            this._closeStore('v');
            var li = this._getIt('li');
            var vi = this._getIt('vi');

            vi = '';

            for (var fileName in data) {
                if (_.isObject(li[fileName])) {
                    switch (data[fileName]['status']) {
                        case 'refreshed':
                            li[fileName]['data'] = data[fileName]['data'];
                            break;
                        default:
                            li[fileName]['data'] += data[fileName]['data'];
                            break;
                    }
                    vi += li[fileName]['data'];
                    li[fileName]['position'] = data[fileName]['position'];
                    li[fileName]['md5'] = data[fileName]['md5'];
                }
            }

            vi = this._formatLayoutForCSV() + vi;
            this._setIt(vi, 'vi');
            this._setIt(li, 'li');

            this._setStore('v', vi, 'csv', 'num')
        },

        _updateViewGridLayout: function (data) {
            this._setIt(data, 'lay');
        },

        _sendPost: function (action, onLoad, onError, extender = null) {
            var args = _.clone(this.xhrArgsPrototype);
            args.postData.actions = action;
            args.load = onLoad;
            args.error = onError;
            if (!_.isNull(extender)) {
                args.postData = _.extend(extender, args.postData);
            }
            var deferred = dojo.xhrPost(args);
        },

        _getLogLayout: function () {
            var onLoad = (function (data) {
                var decode = JSON.parse(data);
                var names = _.keys(decode.loadColumnsLayout_out_data);
                layout = [];

                for (var i = 0; i <= _.size(names) - 1; i++) {
                    layout.push({'field': names[i]});
                }

                this.link._updateViewGridLayout(layout);
                this.link._prepareDojoWidgets();
                this.link._getLogsList();
            });

            var onError = (function (error) {
                alert('Error occured: ' + error);
            });

            this._sendPost('loadColumnsLayout', onLoad, onError);
        },

        _getLogsList: function () {
            var onLoad = (function (data) {
                var decoded = JSON.parse(data);
                var items = [];
                var li = this.link._getIt('li');
                li = {};
                var names = decoded.getFiles_out_list;
                for (var i = 0; i <= _.size(names) - 1; i++) {
                    items.push({'FileName': names[i]});

                    li[names[i]] = {};
                    li[names[i]]['position'] = 0;
                    li[names[i]]['fileType'] = 'csv';
                    li[names[i]]['md5'] = '';
                }
                this.link._setIt(li, 'li');
                this.link._updateLogsGrid(items);
            });

            var onError = (function (error) {
                alert('Error occured: ' + error);
            });

            this._sendPost('getFiles', onLoad, onError);
        },

        _prepareDojoStorage: function (profile) {
            try {
                this._setStore('l', [], 'def', 'id', profile);
                this._setStore('v', [], 'def', 'num', profile);

                return this._getLogLayout();
            } catch (e) {
                return false;
            }
        },

        _prepareDojoWidgets: function (profile = -1) {
            // logs selector
            storage = this._getIt('', profile);

            // menus
            storage.menusObject = {
                rowMenuView: new dijit.Menu()
            };
            storage.menusObject.rowMenuView.addChild(
                new dijit.MenuItem(
                    {
                        label: 'Show Selected Rows',
                        iconClass: 'dijitEditorIcon dijitIconBookmark',
                        onClick: function() {
                            require(['dijit/ConfirmDialog'], function(ConfirmDialog) {
                                var strContent = '';
                                dojo.forEach(awsLogger._getIt('vg').selection.getSelected(), function(selectedItem) {
                                    strContent = strContent + '<br/><hr/>';
                                    dojo.forEach(awsLogger._getIt('vg').store.getAttributes(selectedItem), function(attribute) {
                                        strContent = strContent + '<b>' + attribute + '</b>: ' + awsLogger._getIt('vg').store.getValue(selectedItem, attribute) + '<br/>'
                                    })
                                });
                                myDialog = new ConfirmDialog({
                                    title: 'Row Info',
                                    content: strContent,
                                    style: 'width: 600px"'
                                });
                                myDialog.show();
                            });
                        }
                    }
                )
            );

            storage.logsGrid = new dojox.grid.EnhancedGrid({
                selectable: true,
                id: storage.logsDiv + 'Grid',
                store: storage.logsStore,
                structure: [
                    {field: 'id'},
                    {field: 'FileName'}
                ],
                sortFields: [
                    {
                        attribute: 'id', descending: true
                    }
                ],
                plugins: {
                    exporter: true,
                    cookie: true,
                    nestedSorting: true,
                    filter: {
                        closeFilterbarButton: true,
                        ruleCount: 5,
                        itemsName: "logsFiles"
                    }
                }
            });

            storage.logsGrid.placeAt(storage.logsDiv);
            storage.logsGrid.startup();

            // log's viewer
            storage.viewGrid = new dojox.grid.EnhancedGrid({
                id: storage.viewDiv + 'Grid',
                selectable: true,
                store: storage.viewStore,
                structure: storage.viewLayout,
                sortFields: [
                    {
                        attribute: 'num', descending: true
                    }
                ],
                plugins: {
                    menus: {
                        rowMenu: storage.menusObject.rowMenuView
                    },
                    exporter: true,
                    cookie: true,
                    nestedSorting: true,
                    filter: {
                        closeFilterbarButton: true,
                        ruleCount: 5,
                        itemsName: "logItems"
                    }
                }
            });

//            dojo.connect(storage.viewGrid, 'onCellContextMenu', function(e) {
//                var rowIndex = e.rowIndex;
//                var colIndex = e.cellIndex;
//                var item = e.grid.getItem(e.rowIndex);
//            });

            storage.viewGrid.placeAt(storage.viewDiv);
            storage.viewGrid.startup();
            this._setIt(storage, '', profile);
        },

        _formatLayoutForCSV: function (profile = -1) {
            var header = '';
            var layout = this._getIt('lay', profile);
            for(var i = 0; i < _.size(layout); i++) {
                header += '"' + layout[i].field + '",'
            }
            return header.slice(0, -1) + "\r\n";
        },

        updateSelectedLogs: function () {
            var lg = this._getIt('lg');
            var items = lg.selection.getSelected();
            if (items.length) {
                var paramsPost = {};
                var inc = 0;
                dojo.forEach(items, function (selectedItem) {
                    if (selectedItem !== null) {
                        inc++;
                        var fileName = selectedItem['FileName'][0];
                        var item = awsLogger._getIt('li')[fileName];

                        paramsPost['loadFile_in_' + inc.toString() + '_fileName'] = fileName;
                        paramsPost['loadFile_in_' + inc.toString() + '_position'] = item['position'];
                        paramsPost['loadFile_in_' + inc.toString() + '_fileType'] = item['fileType'];
                        paramsPost['loadFile_in_' + inc.toString() + '_md5'] = item['md5'];
                    }
                });
                if (0 < _.size(paramsPost)) {
                    paramsPost['loadFile_in_count'] = inc;

                    var onLoad = (function (data) {
                        var decoded = JSON.parse(data);
                        this.link._updateViewGrid(decoded['loadFile_out_data']);
                    });

                    var onError = (function (error) {
                        alert('Error occured: ' + error);
                    });

                    this._sendPost('loadFile', onLoad, onError, paramsPost);
                }
            }
        }

    };

    dojo.ready(function () {
        dojo.toggleClass('html-body', 'claro');
        awsLogger = new awsLoggerViewClass();
        // awsLogger.initialize();

    });
</script>

<div class="content-header">
    <h3 class="icon-head head-system-account"><?php echo $this->__('CSV Logger View'); ?></h3>
</div>


<div data-dojo-type="dijit.form.Button">
    Get all Selected Logs
    <script type="dojo/method" data-dojo-event="onClick" data-dojo-args="evt">
        awsLogger.updateSelectedLogs();
    </script>
</div>


<div class="claro">
    <div id="<?php echo $this->getDefaultLogsSelectorPrefix() . '-' . $this->getDefaultProfile(); ?>" name="logs-select"></div>
    <div id="<?php echo $this->getDefaultLogviewerPrefix() . '-' . $this->getDefaultProfile(); ?>" name="log-output"></div>
</div>
